@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@utility container {
    padding-inline: 10px;
    margin-inline: auto;
    
    @variant sm {
      padding-inline: 20px;
    }
    
    @variant lg {
      padding-inline: 80px;
    }
    
    @variant xl {
      padding-inline: 120px;
    }
  }

@theme{
    --font-poppins: "Poppins", serif;
    --font-goldman: "Goldman", serif;
    --animate-scroll: scroll 20s linear infinite;
}


@layer utilities {
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-25%);
    }
  }
}

.scroll-container {
  @apply w-[100%] overflow-hidden relative bg-white pt-[20px] xl:pt-[25px] pb-[20px];
}

.scroll-content {
  @apply flex w-max animate-scroll;
}

.card {
  @apply bg-gradient-to-br from-sky-50 to-purple-50 p-4 rounded-xl max-w-sm text-left mx-2 shadow-md flex-shrink-0;
}

.card span {
  @apply block mb-[8px]; 
}

.card h3 {
  @apply mb-[8px]; 
}

body{
    @apply font-poppins;
}

.logo{
  @apply bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
}

.headword{
  @apply text-black;
}

h1{
  @apply font-goldman font-medium md:text-7xl text-5xl bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
}

h2{
  @apply font-goldman font-medium text-4xl mb-3;
}

h3{
  @apply font-bold text-lg;
}

h4{
  @apply font-goldman text-2xl bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
}

.nav-link{
    @apply font-poppins cursor-pointer;
}

.nav-link:hover, .active{
    @apply font-semibold underline text-indigo-500;
}

.button{
    @apply font-poppins bg-indigo-400 text-white px-5 py-2 rounded-2xl transition duration-300 border-indigo-400 border-2;
}

.button:hover{
    @apply bg-white text-indigo-500 border-solid;
}

button{
  @apply w-full font-poppins bg-indigo-400 text-white px-5 py-2 rounded-2xl transition duration-300 border-indigo-400 border-2;
}

button:hover{
  @apply bg-white text-indigo-500 border-solid;
}

.service_card{
  @apply bg-white p-[16px] rounded-2xl max-w-[500px] text-left shrink-0 min-h-[250px] shadow-lg transition duration-300;
}

.service_card:hover {
  @apply bg-indigo-400 text-white;
}

.service_card span{
  @apply text-4xl;
}

.service_card h3{
  @apply mb-[8px] mt-[8px];
}

.input-box{
  @apply w-full pb-5;
}

footer a:hover{
  @apply font-medium underline;
}
